* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
.container .card {
  position: relative;
  width: 320px;
  height: 400px;
  background: rgba(255, 255, 255, 0.2);
  transition: 0.5s;
  box-shadow: 0 -15px 25px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  overflow: hidden;
}
.container .card:nth-child(odd) {
  transform: translateZ(-30px) translate(-50px, 20px) rotate(15deg);
}
.container .card:nth-child(even) {
  transform: translateZ(30px) translate(-50px, -30px) rotate(-20deg);
}
.container .card:hover {
  transform: translateZ(0px) translate(0px, 0px) rotate(0deg);
  z-index: 1;
}
.container .card::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  background: radial-gradient(var(--clr), transparent, transparent);
  width: 700px;
  height: 700px;
  opacity: 0;
  transition: 0.5s, top 0s, left 0s;
}
.container .card:hover::before {
  opacity: 1;
}
.container .card::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 18px;
  background: rgba(45, 45, 45, 0.9);
}
